html,
body {
  font-family: 'roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.header {
  position: relative;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  background: $pinkColor;
  font-size: 1.5em;
  font-weight: 700;
  color: #fff;
  padding: 25px 10px;

  @media (min-width: $breakpoint-phone) {
    padding: 25px 20px;
  }
}

.subheader {
  font-size: 1.8em;
}

p {
  font-weight: 300;
  line-height: 1.4;
  color: $darkColor;
}

.link {
  color: $lightBlueColor;
}
